<h1>Toronto City Councillors</h1>
<%= link_to "Add a Councillor", "/councillors/new" %>
<br>


<% @councillors.each do |councillor| %>
	<div><%= councillor.name %>, <%= councillor.ward %>, <%= councillor.email %>, <%= councillor.phone %>, <%= councillor.website %></div>

<%= link_to image_tag(councillor.picture_url), "/councillors/#{councillor.id}" %>
<% end %>