<h1>Toronto City Councillors</h1>


<% @councillors.each do |councillor| %>
	<div><%= councillor.name %>, <%= councillor.ward %>, <%= councillor.email %>, <%= councillor.phone %>, <%= councillor.website %></div>

<%= link_to image_tag(councillor.picture_url), "/councillors/#{councillor.id}" %>
<% end %>