<h1><%= @councillor.name %></h1>

<img src="<%= @councillor.picture_url %>">

<div>
	<%= @councillor.ward %>, <%= @councillor.email %>, <%= @councillor.phone %>, <%= @councillor.website %>
</div>

<br>
<%= link_to "Edit", edit_councillor_path(@councillor) %>